
{% extends "base/base.html" %}
<style>

.form { margin: 0 auto; 
    width:auto;
}

</style>

{% block contenido %}

<div>
    <div class="card text-white bg-dark mb-3 card border-primary mb-3" style="max-width: 20rem;">
        
        <div class="card-body">
                <h5 class="card-title">Agregar Pregunta</h5><br>
            <form action="" method="POST">
              {% csrf_token %}
                {{form.as_p}}
                <br>
             <button type="submit" class="btn btn-outline-primary">Guardar</button>
             </form>
    </div>
</div>
    
{% endblock %}

