{% extends "base/base.html" %}
{% block contenido %}


<div>
	<h1>Resultados</h1>
	<div class="col-sm-6 col-md-4">
				<div class="card text-white bg-dark mb-3 card border-primary mb-3">
					<div class="card-body">
						<h5 class="card-title">Puntos: {{puntos}}</h5>
						<p class="card-text">Porcentaje: {{porcentaje}}%</p>
						<p class="card-text">Duracion: {{time}} segundos</p>
						<p class="card-text">Preguntas Correctas: {{correctas}}</p>
						<p class="card-text">Preguntas Incorrectas: {{incorrectas}}</p>
						<p class="card-text">Total de Preguntas: {{total}}</p>
						<h5>Compartir</h5>
					</div>
				</div>
			
		</div>
</div>

	<div class="row g-0">
		<div  class="row row-cols-1 row-cols-md-2 g-5">
			<div class="col-sm-6 col-md-8">
					{% for p  in preguntas%}
					<div align="left">
						<h4>{{forloop.counter}})_ {{p.pregunta}}</h4>
					
						{% if p.rta1 in ELIGIO%}	
						{% if p.rta1 == p.correct%}	
						<div class="alert alert-success" role="alert">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="{{p.pregunta}}" id="gridRadios1" checked disabled>
								<label class="form-check-label" for="gridRadios1">
								{{p.rta1}}
								</label>
							</div>
						</div>
						{%else%}
						<div class="alert alert-danger" role="alert" >
							<div class="form-check">
								<input class="form-check-input" type="radio" name="{{p.pregunta}}" id="gridRadios1" checked disabled>
								<label class="form-check-label" for="gridRadios1">
								{{p.rta1}}
								</label>
							</div>
						</div>
						{%endif%}
						{% else%}
						{%if p.rta1 == p.correct%}
						<div class="alert alert-success" role="alert">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="{{p.pregunta}}" id="gridRadios1" disabled>
								<label class="form-check-label" for="gridRadios1">
								{{p.rta1}}
								</label>
							</div>
						</div>
						{%else%}
						<div class="alert alert-dark" role="alert">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="{{p.pregunta}}" id="gridRadios1"  disabled>
								<label class="form-check-label" for="gridRadios1">
								{{p.rta1}}
								</label>
							</div>
						</div>
						{%endif%}
						{%endif%}
						{% if p.rta2 in ELIGIO%}	
						{% if p.rta2 == p.correct%}		
						<div class="alert alert-success" role="alert">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="{{p.pregunta}}" id="gridRadios2" checked disabled>
								<label class="form-check-label" for="gridRadios2">
								{{p.rta2}}
								</label>
							</div>
						</div>
						{%else%}
						<div class="alert alert-danger" role="alert">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="{{p.pregunta}}" id="gridRadios2" checked disabled>
								<label class="form-check-label" for="gridRadios2">
								{{p.rta2}}
								</label>
							</div>
						</div>
						{%endif%}
						{% else%}
						{%if p.rta2 == p.correct%}
						<div class="alert alert-success" role="alert">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="{{p.pregunta}}" id="gridRadios2" disabled>
								<label class="form-check-label" for="gridRadios2">
								{{p.rta2}}
								</label>
							</div>
						</div>
						{%else%}
						<div class="alert alert-dark" role="alert">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="{{p.pregunta}}" id="gridRadios2"  disabled>
								<label class="form-check-label" for="gridRadios2">
								{{p.rta2}}
								</label>
							</div>
						</div>
						{%endif%}
						{%endif%}
						{% if p.rta3 in ELIGIO%}	
						{% if p.rta3 == p.correct%}		
						<div class="alert alert-success" role="alert">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="{{p.pregunta}}" id="gridRadios3" checked disabled>
								<label class="form-check-label" for="gridRadios3">
								{{p.rta3}}
								</label>
							</div>
						</div>
						{%else%}
						<div class="alert alert-danger" role="alert">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="{{p.pregunta}}" id="gridRadios3" checked disabled>
								<label class="form-check-label" for="gridRadios3">
								{{p.rta3}}
								</label>
							</div>
						</div>
						{%endif%}
						{% else%}
						{%if p.rta3 == p.correct%}
						<div class="alert alert-success" role="alert">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="{{p.pregunta}}" id="gridRadios3" disabled>
								<label class="form-check-label" for="gridRadios3">
								{{p.rta3}}
								</label>
							</div>
						</div>
						{%else%}
						<div class="alert alert-dark" role="alert">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="{{p.pregunta}}" id="gridRadios3"  disabled>
								<label class="form-check-label" for="gridRadios3">
									{{p.rta3}}
								</label>
							</div>
						</div>
						{%endif%}
						{%endif%}
						{%endfor%}
						
					</div>
				
			</div>
		</div>
		
	</div>


{% endblock contenido %}

