{% extends "base/base.html" %}


{% block contenido %}
<div class="container">
		{% for n in niveles %}	
		<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <h5 class="card-title"><p class="text-dark" >{{n.nombre}}</p></h5>
			    <p class="card-text" ><p class="text-dark">{{n.descrip}}.</p></p>
			    <a href="#" class="btn btn-primary">Iniciar Cuestionario</a>
			  </div>
	</div>
	{% empty %}
		<tr>
			<td>No se encontraron resultados</td>
		</tr>
	{% endfor %}
</div>
{% endblock contenido %}
