{% extends "base/base.html" %}

{% block contenido %}



<div class="card text-white bg-dark mb-3 card border-warning mb-3" style="width: 20rem;">
	<br>
<div>
	<h1 class="text-warning ">Iniciar sesion</h1>
	<br>
	<form method="POST">{% csrf_token %}
		
			<div class="row g-3 align-items-center" style="width: 15rem;">
				<div>
					<label for="exampleInputEmail1" class="col-form-label">Usuario</label>
					<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese nombre de Usuario" id="username" name="username">
				</div>
				
			</div>

			<div class="row g-3 align-items-center" style="width: 15rem;">
				<div >
					<label for="Password" class="col-form-label">Password</label>
					
					<input type="password" class="form-control" id="password" name="password" placeholder="Ingrese contraseña">
					
				</div>
				
			</div>
			<br>
			<div>
				<br>	
				<button type="submit" class="btn btn-outline-warning">Iniciar Sesion</button>
				
			</div>
		
	</form>
	<br><br>
</div>	
</div>


{% endblock contenido %}

