{% extends "base/base.html" %}

{% block contenido %}
<style>

form { margin: 0 auto; 
		width:250px;
}

</style>
        
        	<div>
	        	 <h1>Registro</h1>

		        	<form method="POST">{% csrf_token %}
							 
								   <div class="row g-3 align-items-center">
									  <div>
									     <label for="exampleInputEmail1" class="col-form-label">Usuario</label>
									  
									    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" id="username" name="username">
									  </div>
									  
									</div>
									<div class="row g-3 align-items-center">
									  <div>
									     <label for="exampleInputEmail1" class="col-form-label">Nombre</label>
									  
									    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" id="username" name="username">
									  </div>
									  
									</div>
									<div class="row g-3 align-items-center">
									  <div>
									     <label for="exampleInputEmail1" class="col-form-label">Apellido</label>
									  
									    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" id="username" name="username">
									  </div>
									  
									</div>

									<div class="row g-3 align-items-center">
									  <div>
									     <label for="exampleInputEmail1" class="col-form-label">Email</label>
									  
									    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" id="username" name="username">
									  </div>
									  
									</div>

								  <div class="row g-3 align-items-center">
									  <div >
									    <label for="inputPassword6" class="col-form-label">Password</label>
									 
									    <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
									  </div>
									  
									</div>

									<div class="row g-3 align-items-center">
									  <div >
									    <label for="inputPassword6" class="col-form-label">Repetir Password</label>
									 
									    <input type="password" id="inputPassword6" class="form-control" aria-describedby="passwordHelpInline">
									  </div>
									  
									</div>
									<div class="row g-3 align-items-center">
  
								<div>
									<br>	
								  		<button type="submit" class="btn btn-outline-success">Registrarse</button>
								  		<br>
										<br>	
								</div>
								</form>
								

						</div>	
	

{% endblock contenido %}
