
{% extends "base/base.html" %}
{% block contenido %}

<div class="container">
	<h1>Lista de Usuarios</h1>
	<table class="table   text-white">
		<thead>
			<tr>
				<th scope="col">Ultimo Acceso</th>
				<th scope="col">Usuario</th>
				<th scope="col">Nombre</th>
				<th scope="col">Apellido</th>
				<th scope="col">Email</th>
				<th scope="col">Fecha/Hora de Registro</th>
				<th scope="col">#</th>

			</tr>
		</thead>
		<tbody>
			{% for a in usuarios %}
			<tr>
				<td>{{a.last_login}}</td>
				<td>{{a.username}}</td>
				<td>{{a.first_name}}</td>
				<td>{{a.last_name|default:'-'}}</td>
				<td>{{a.email}}</td>
				<td>{{a.date_joined}}</td>
				<td>
					<a href="#">Editar</a>
				</td>
			</tr>
			{% empty %}
			<tr>
				<td>No se encontraron resultados</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock contenido %}
