{% extends "base/base.html" %}

{% block contenido %}

  <div class="card text-white bg-dark mb-3 card border-success mb-3" style="width: 30rem;">
    <div style="padding-left:5rem;padding-right:5rem;"><br>
    	<h1 class="text-success">Registro</h1>
      <form method="post">
        {% csrf_token %}
        {% include "includes/_form_errors.html" with formulario=form %}
        {% include "includes/_forms.html" with formulario=form %}
       <button type="submit" class="btn btn-outline-success">Registrarse</button>
      </form>
      <br>
    </div>
  </div>


{% endblock contenido %}